<div class="list-group-item clearfix">
    <h3>Create a new brew</h3>
    {{#bs-form}}
        {{#bs-form-group validation=nameValidation}}
            <label class="control-label" for="name">Name</label>
            {{bs-input id="name" name="name" value=name placeholder="Name your brew" maxlength="60"}}
        {{/bs-form-group}}
        {{#bs-form-group validation=descriptionValidation}}
            <label class="control-label" for="description">Description</label>
            {{bs-textarea id="description" value=description placeholder="Enter a short description of your brew"}}
        {{/bs-form-group}}
        <!-- autocomplete input for style  -->
		{{#bs-form-group validation=styleValidation}}
            <label class="control-label" for="style">Style</label>
            {{!-- {{bs-input id="style" value=style placeholder="Style of brew" maxlength="60"}} --}}
            {{#power-select
              search=(action "searchStyles")
              selected=selected
              onchange=(action (mut selected))
              as |style|
            }}
              {{style.shortName}}
            {{/power-select}}
        {{/bs-form-group}}

        <div class="pull-right">
            {{#bs-button action="cancel"}}Cancel{{/bs-button}}
            {{#bs-button type="success" action="save"}}Save{{/bs-button}}
        </div>
    {{/bs-form}}
</div>