<div class="list-group-item">
    <h3>Create a new brew</h3>
    {{#bs-form action="submit" }}
        {{#bs-form-group validation=nameValidation}}
            <label class="control-label" for="name">Name</label>
            {{bs-input id="name" name="name" value=name placeholder="Name your brew" maxlength="60"}}
        {{/bs-form-group}}
        {{#bs-form-group validation=descriptionValidation}}
            <label class="control-label" for="description">Description</label>
            {{bs-textarea id="description" value=description placeholder="Enter a short description of your brew"}}
        {{/bs-form-group}}
        <!-- autocomplete input for style  -->
				{{#bs-form-group validation=styleValidation}}
            <label class="control-label" for="type">Type</label>
            {{!-- {{bs-input id="type" value=type placeholder="Type of brew" maxlength="60"}} --}}
            {{select-2
					    placeholder="Type of brew"
					    value=chosenTypeaheadBrew
					    typeaheadSearchingText="Searching brews"
					    typeaheadNoMatchesText="No brews found for '%@'"
					    typeaheadErrorText="Loading failed: %@"
					    minimumInputLength=2
					    maximumInputLength=10
					    query="queryBrews"
						}}
        {{/bs-form-group}}

        <div class="pull-right">
					
        </div>
    {{/bs-form}}
</div>
